<%= form_for @application do |f| %>
  <% if @application.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@application.errors.count, "error") %> prohibited this application from being saved:</h2>

      <ul>
      <% @application.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 </br> <div class="form">
      <%= f.text_field :full_name, :placeholder => "jhon goldman" %></br></br>
      <%= f.select(:city, options_for_select([['tel aviv','tlv'], ['new york city','nyc']])) %>
     </br></br><span class="text-right">http://www.linkedin.com/</span><%= f.text_field :linkedin, :placeholder => "jhongoldman" %></br></br>
      <%= f.text_field :job, :placeholder => "job" %></br></br>
      <%= f.text_field :email, :placeholder => "example@example.com" %></br></br>
      pdf file :
     <%= f.file_field :attachment %>
  </div>

  <div class="actions">
    <%= f.submit :class => "submit-application" %>
<% end %>
