<h2>Job Applications</h2>
<table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Region & Country</th>
          <th>Job</th>
          <th>Time Created</th>
          <th>PDF file</th>
          <th>Linkedin</th>
          <th>Status</th>
          <th>Actions</th>
          </tr>
      </thead>
      <tbody>
  <% @applications.each do |application| %>
    <% if application.status != "hide" %>
       <tr>
          <td><%= application.full_name %></td>
          <td><%= "#{application.country if application.country}, #{application.city if application.city}" %></td>
          <td><%= application.job %></td>
          <td><%= time_ago_in_words(application.created_at) %></td>
          <td></td>
          <td><%= application.linkedin %></td>
          <td><%= application.status %></td>
          <td><div class="btn-group">
            <button class="btn">Actions</button>
            <button class="btn dropdown-toggle" data-toggle="dropdown">
              <span class="caret"></span>
             </button>
            <ul class="dropdown-menu">
                <li class="divider"></li>
                <li><%= link_to 'approve', approve_application_path(application) %></li>
     <!-- dropdown menu links begining -->
              <li><%= link_to 'delete', application_path(application),
            :confirm => 'Are you sure?', :method => :delete, :class => 'text-error' %><%= link_to 'hide', hide_application_path(application) %></li>
     <!-- dropdown menu links end -->
               </ul>
          </div></td> 
        </tr>
        <% end %>
    <% end %>
      </tbody>
    </table>

<%= link_to 'New Application', new_application_path %>